@use '../../styles/base.scss' as b;

.container {
  min-width: 85%;
  background-color: white;
  padding: 4rem;
  border-radius: 1.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.title {
  @include b.desktop-link-large;
  margin: 0;
}

.subtitle {
  @include b.desktop-text-extrasmall;
  margin: 0;
}
