@use '../../styles/base.scss' as b;

.container {
  border-radius: 1.5rem;
  border: 2px b.$black solid;
  padding: 1rem 1.5rem;
}

.grid {
  display: grid;
  grid-template-areas:
    'user-details .'
    'company yoe'
    'job date-contributed'
    '. salary';
  grid-template-columns: auto auto;
}

.avatar {
  width: 32px;
  height: 32px;
}

.name {
  @include b.desktop-text-small($weight: b.$medium);
}

.userDetails {
  grid-area: user-details;

  display: flex;
  column-gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.company {
  grid-area: company;

  @include b.desktop-text-small($weight: b.$medium);
}

.yoe {
  grid-area: yoe;

  @include b.desktop-text-small($weight: b.$medium);
  place-self: flex-end;
}

.job {
  grid-area: job;
  @include b.desktop-text-small($size: 0.75rem);
}

.dateContributed {
  grid-area: date-contributed;
  @include b.desktop-text-small($size: 0.75rem);
  place-self: flex-end;
}

.salary {
  grid-area: salary;
  place-self: flex-end;

  margin-top: 1rem;

  @include b.desktop-link-medium;
}
