@use '../../styles/base.scss' as b;

.container {
  min-width: 16rem;
  border-radius: 1.5rem;
  border: 2px b.$black solid;
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-areas:
    'user-details'
    'job'
    'yoe'
    'salary'
    'date-contributed';
  grid-template-columns: auto;
}

.name {
  @include b.desktop-text-small($weight: b.$semi-bold);
  margin-bottom: 1rem;
}

.userDetails {
  grid-area: user-details;

  display: flex;
  column-gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.yoe {
  grid-area: yoe;

  @include b.desktop-text-small($weight: b.$medium);
}

.job {
  grid-area: job;
  @include b.desktop-text-small;
}

.dateContributed {
  grid-area: date-contributed;
  @include b.desktop-text-small($size: 0.75rem);
  margin-top: 1rem;
}

.salary {
  grid-area: salary;

  @include b.desktop-link-medium;
}
