// colors
$primary-gradient: linear-gradient(114.44deg, #7433ff 0%, #ffa3fd 100%);
$black: #181818;
$bg-off-white: #f7f7fc;
$input-bg: #eff0f6;

// typography
$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;

@mixin desktop-display-small(
  $weight: $bold,
  $size: 2rem,
  $height: 34px,
  $spacing: 1px
) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin desktop-link-large(
  $weight: $semi-bold,
  $size: 1.5rem,
  $height: 38px,
  $spacing: 0.75px
) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin desktop-link-medium(
  $weight: $semi-bold,
  $size: 1.125rem,
  $height: 34px,
  $spacing: 0.75px
) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin desktop-link-small(
  $weight: $semi-bold,
  $size: 1rem,
  $height: 28px,
  $spacing: 0.75px
) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin desktop-text-small(
  $weight: $regular,
  $size: 1rem,
  $height: 28px,
  $spacing: 0.75px
) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin desktop-text-extrasmall(
  $weight: $medium,
  $size: 0.875rem,
  $height: 24px,
  $spacing: 0.25px
) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}
